{% extends "base_template.html" %}

{% block content %}

  {% if form.errors %}
    <div id="error-alert" class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
    </div>
  {% endif %}

  <h2>Iniciar sesión</h2>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="exampleInputEmail1">{{ form.username.label_tag }}</label>
      {{form.username}}
      <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">{{ form.password.label_tag }}</label>
      {{ form.password }}
    </div>
    
    <div class="form-group center">
        <input type="hidden" name="next" value="{% url 'account_balance' %}">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>

    <p>
      <a href="{% url 'password_reset' %}" class="text-secondary">Lost password?</a>
    </p>
</form>

<script>
  const errorAlert = document.getElementById('error-alert');
  if(errorAlert) {
    setTimeout(() => {
        errorAlert.style.display = 'none';
    }, 3000);
  }

  const inputEmail = document.getElementById('id_username');
  inputEmail.classList.add('form-control');
  inputEmail.setAttribute('placeholder', 'Enter username');

  const inputPass = document.getElementById('id_password');
  inputPass.classList.add('form-control');
  inputPass.setAttribute('placeholder', 'Enter password');
</script>

{% endblock %}
